body{
    background-color: #84898e;
    text-align: center;
    margin-top: 26%;
}


.button {
    background-color: #9dbae8;
    border: none;
    border-radius: 10px 10px 10px 10px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button:hover{
    transition: .35s;
    color: white;
    background-color: #57719b;
}

@keyframes click-fade {
    from {background-color: #3b4759; color: #161926;}
    to {background-color: #9dbae8; color: white;}
}
.button:focus{
    color: white;
    background-color: #9dbae8;
    animation-name: click-fade;
    animation-duration: .5s;
}

input[type="text"] {
    width: 45%;
    color: white;
    font: courier;
    font-size: 40px;
    border: none;
    border-radius: 10px 10px 10px 10px;
    margin-bottom: 7px;
    background-color: #9dbae8;
    text-align: center;
    align-content: center;
}

input[type="text"]:focus {
    transition: .35s;
    color: black;
    outline: none;
    background-color: white;
}
